/* Navbar and Footer */
.navbar-title {
    color: white !important;
    font-weight: 500 !important;
    font-size: 2rem !important;
}
  
.footer .social-links .badge {
    background-color: black !important;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}
  
.footer .social-links .badge a {
    color: white;
}