/* Navbar and Footer */
body {
    background: linear-gradient(to bottom, #021029 80%, #1b4ba6);
}

.navbar-title {
    color: white !important;
    font-weight: 500 !important;
    font-size: 2rem !important;
}
  
.footer .social-links .badge {
    background-color: transparent !important;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}
  
.footer .social-links .badge a {
    color: white;
}