/* Navbar and Footer */
body {
    background-image: url("assets/inprogress2.gif");
    background-size: contain; /* Adjust the sizing of the background image */
    background-repeat: no-repeat;
    background-attachment: fixed; /* This keeps the background fixed while scrolling */
    background-position: right top;
}

/* ... your existing styles ... */  

.navbar-title {
    color: white !important;
    font-weight: 500 !important;
    font-size: 2rem !important;
}
  
.footer .social-links .badge {
    background-color: transparent !important;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}
  
.footer .social-links .badge a {
    color: white;
}